body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b2d4f;
  color: white;
  text-align: center;
}

#startScreen {
  padding-top: 80px;
}

input {
  font-size: 22px;
  padding: 10px;
  width: 300px;
  margin: 20px;
}

button {
  font-size: 24px;
  padding: 12px 40px;
  cursor: pointer;
}

canvas {
  display: none;
  background: #7ecbff;
}
