html, body {
  margin: 0;
  padding: 0;
  background: #0a3cff;
  color: white;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.screen {
  display: none;
  position: absolute;
  inset: 0;
  background: #0a3cff;
  text-align: center;
  padding-top: 8vh;
}

h1 {
  font-size: 4rem;
}

input {
  font-size: 2rem;
  padding: 15px;
  width: 60%;
  margin: 20px;
}

button {
  font-size: 2rem;
  padding: 15px 40px;
  cursor: pointer;
}

canvas {
  display: none;
  background: #d6f2ff;
}

.answer {
  display: block;
  width: 90%;
  margin: 20px auto;
  padding: 30px;
  font-size: 2rem;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
}
