body {
  margin: 0;
  background: #0a3d62;
  color: white;
  font-family: Arial;
}

.screen {
  display: none;
  width: 100vw;
  height: 100vh;
}

.screen.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

canvas {
  display: block;
}
