body {
  margin: 0;
  background: #0b1c2d;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

canvas {
  background: #111;
  display: block;
  margin: 10px auto;
  border: 3px solid #4fc3f7;
}

.hidden {
  display: none;
}

#questionScreen {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#questionText {
  font-size: 32px;
  margin: 20px;
}

#answers button {
  font-size: 22px;
  padding: 15px;
  margin: 10px auto;
  width: 70%;
}

input, button {
  font-size: 18px;
  padding: 10px;
}
