* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #081c2f;
  color: white;
  overflow: hidden;
}

.screen {
  display: none;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 40px;
}

.screen.active {
  display: block;
}

canvas {
  display: none;
}

input {
  padding: 12px;
  font-size: 18px;
  margin: 10px;
}

button {
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
}

#questionBox {
  height: 100%;
  display: grid;
  grid-template-rows: auto repeat(4, 1fr);
}

.answer {
  border: 2px solid white;
  margin: 10px;
  padding: 25px;
  font-size: 22px;
  cursor: pointer;
}
#answers button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
}
